@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@300&family=Roboto:wght@100;300;500;700;900&display=swap');

/* CSS RESET */
*{

    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    outline:none;
    
}

/* Utility Classes */

.btn-md {

    display: inline-block;
    background: #FEC544;
    color:#08080A;
    font-size:25px;
    font-weight: bold;
    padding:8px 36px;
    margin-top: 20px;
    border-radius:50px ;
    border: 2px solid #FEC544;
} 

.btn-md:hover{
  color:#FEC544;
   background:none;
   transition: all 0.3s ease;

}

.container{

    max-width: 1300px;
    padding: 0 100px;
    margin:0 auto;
}
    
    .text-center{
     text-align:center;


    }

    .m-heading{

        font-size:32px;
        margin-bottom:12px;
    }

        .title::before {
    
            content: '';
            background: #07080B;;
            height: 2px;
            width: 200px;
            margin: auto;
            display: block;
            transform: translateY(44px)
    
        }
        .title::after{


            content: '';
            background:#07080B;
            height: 7px;
            width:65px;
            margin-left:auto;
            margin-right:auto;
            margin-bottom:40px;
            display:block;
            transform: translateY(1px);

        }
.about .about-content{

     display: flex;
     flex-wrap: wrap;
     align-items:center;
     justify-content: space-between;
     transform:translateY(-60px);
}

    /* Showcase Background */
    

.showcase{

    background-image: url(real_background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    
}
/* Navbar Section */

.navbar {
 

    position: fixed;
    width: 100%;
    margin: auto; 
    padding: 35px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999; 
 

}

.navbar.sticky{

    padding:10px 100px;
    background: #07080B;
}



 .navbar .logo {

  color: #FEC544;
  font-size: 30px 

 }

 .navbar ul li {

    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 13px;
    text-transform: uppercase;
 }
 .navbar ul li span {

    color: #FEC544;
    border-left: 1px solid #A9ADB8;
    padding-left: 25px;
    padding-right: 5px;
    text-align: center;
 }

 .navbar ul li a {

      color:#A9ADB8;
      font-weight: bold;
      transition:all 0.5s ease;

    
 }

 .navbar ul li a:hover{

    color:#FEC544


 }

 

 /* Showcase content section */

 .showcase-text{

    max-width: 800px;
    padding-top: 250px;
    padding-left:120px;
    color: #fff;
 }

 .showcase-text .text-1{
   font-size:27px;
 }

 .showcase-text .text-2 {
     font-size: 75px;
     font-weight:700;
 }


 .showcase-text .text-3 {
     font-size: 40px;
     margin:5px 0;
     font-weight: 700;
 }


.showcase-text .text-3 span{

color:#FEC544

}
 .showcase-img img{

    position: absolute;
    bottom: 0;
    right:0;
    width: 500px;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
    overflow: hidden;
 }

 /* About Section Styling */

b{
 
    display: inline-block;
    position:;
    margin-left:px ;
    margin-bottom: px;
}

 section h2 {

     color: #FEC544;
 }

 #about{
  background:#07080B;

 }

 .about .title::before{

    background:#FEC544 ;
 }
 .about .title::after{

    background:#FEC544 ;
 }

 .about h1{

    color:#6e6e70;
    text-align:center;
    font-size: 80px;
    transform: translateY(20px);
    opacity:0.1;
    padding-top:-20px;

 }

 .about h2{

     font-weight: 700;
     transform:translateY(-65px);
 }

 .about .about-content .column {

    margin-top: 40px;
 }

 .about .about-content .left {

 width:55%;
 padding: 0 20px;
 overflow:hidden;

 
 }

 .about .about-content .left img{

    height:450px;
    width:450px;
    object-fit:cover;
    border-radius: 50%;
    position: absolute;
        left: -50px;
        top: 20px
    
    
    
} 

.about .about-content .right {

    
    width: 45%;
    color:#A9ADB8;
    
}

.about .about-content .right .text{


   font-size: 30px;
   font-weight: 700;
   margin-bottom: 10px;
   
   

   
}

.about .about-content .right p{

    text-align: justify;
    line-height:1.3;
}

.about .about-content .right .text span{

    color:#FEC544 
}

.about .about-content .right .table {

    width:500px;
    padding: 10px 0;
    margin-left: 0;

}

.about .about-content .right .table td {

    
    padding: 10px ;
    

}

/* Services Section Styling  */

#services{

     color:#A9ADB8;
     background:#FEC544;
}

.services h5{

    font-weight:700;
    color:#07080B;
    transform: translateY(-65px);


}
.services h1{

    color:#07080B;
    text-align: center;
    font-size: 80px;
    transform: translateY(23px);
    opacity: 0.1;
    padding-top: -20px;

}

.services .service-content .main{

    width:auto;
    min-height:450px;
text-align: center;
border-radius: 5px ;
position: relative;
cursor: pointer;

}

.service {

    background:#07080B;
     padding:30px;
     border-radius:10px;
     position:absolute;
     bottom:10;
     transform:scale(1.05);
     box-shadow: 0 0 20px -15px #07080B;
     transition: transform 0.8s;

}

.service-logo {

    /* width: 170px;
    height: 130px;
    border-radius: 50%;
    margin: -80px auto 0;
      */

    margin-bottom: 40px;
    
    background:#07080B;
    
    transform:transform 1s;
}

.service-logo i{

    color:#FEC544;
    margin-top: 20px;
}
.service h4 {

    height:28px;
    width:80%;
    background:#07080B;
    margin :60px auto;
    position:relative; 

}


.service h4::after{

    content:'';
    width:40px;
    height:30px;
    background:linear-gradient(to right, #07080B,
        #FEC544);
        position: absolute;
        right:-5px;
        top:-5px;
        z-index: -1;
}

.service h4::before {

    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, #FEC544,
        #07080B );
    position: absolute;
    left: -5px;
    bottom:-5px;
    z-index: -1;
}

.shadowone{

    
}
